body {
    font-size: 16px;  
    font-family: 'Archivo', sans-serif;
}

#container {
    max-width: ;
    margin: 0 auto;
    position: relative;
}

p {
    font-family: 'Noto Serif', serif;
    color: #000;
    font-weight: 400;
    line-height: 1.4em;
    
}


h1, h2, h3 {
    font-family: 'Archivo', sans-serif;
    
}

h1 {
    font-weight: 700; 
    text-transform: uppercase;
    font-size: 4.768em;
    padding-bottom: .5em;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 3.052em;
    padding-bottom: .3em;
    margin: 0;
}

h3 {
    font-size: 1.953em;
    font-weight: 400;
}

h4 {
    font-size: 1.25em;
    padding: 0;
    margin: 0;
}



header {
    color: #151c3e;
	padding: 10px 20px;
    height: 5em;
    position: relative;
    
    
}



header h1 {
   text-align: center;
    color: #151c3e;
}

nav {
    display: inline-block;
    color: #71beea;
    font-size: 1.25em;
    width: 100%;
    text-align: center;
    background-color: #151c3e;
}



nav li {
    display: inline-block;
   
}

nav ul li a {
    transition: 0.4s;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
   
}

nav ul li a:visited {
    color: #fff;
}

nav ul li a:hover {
    background-color: #71beea;
    color: #151c3e;
    padding: 20px 10px;

    
}

#page {
    overflow: auto;
    max-width: 1500px ;
    margin: 0 auto;
    position: relative;
}

figure {
    display: inline-block;
    margin: 20px;
    float: left;
}

figure img {
    vertical-align: top;
    width: 500px;
}

figure figcaption {
     width: 500px;
   /* background-color: rgba(134, 137, 145, .25);*/
    font-size: .80em;
}



#about {
    overflow: auto;
    
}



#about .content {
    
}

#places {
    width: 100%;
    background-color: #71beea;
    padding: 10px 10px;
    overflow: auto;

}

#places img {
    width: 700px;
   
    
}

#interests {
       
}

footer {
    background-color: #151c3e;
    color: #71beea;
    padding: 10px;
   
}

footer ul li {
    list-style: none;
}

footer ul li a {
    color: #71beea;
    text-decoration: none;
}

.box{
    font-family: 'Archivo', sans-serif;
    font-size: 1em;
    font-weight: 400;
	width: 100px;
	height: 100px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    padding-top: 10px;
}


